MODEL_PATH=../model/roberta_ai_detector_final
USE_QUANTIZED=true
CHUNK_TOKENS=512
OVERLAP_TOKENS=64
GROUP_SIZE=3
SUSPICIOUS_AI_THRESHOLD=85
SUSPICIOUS_DELTA_THRESHOLD=20
MAX_CHARACTERS=120000
ALLOWED_ORIGINS=*
